@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
.users {
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button {
      margin-top: 5px;
      background-color: $main-color;
      color: $main-bg;
      padding: 5px;
      cursor: pointer;
    }
  }
}
.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}