@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.products {
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button {
      margin-top: 5px;
      background-color: $main-color;
      color: $main-bg;
      padding: 5px;
      cursor: pointer;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: -2px;
  padding-top: 10px;
  background-color: white;
}

.contentOrder {
  display: flex;
  align-items: center;
}

.contentOrder img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: start;
}
.price h3 {
  margin-right: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly; }

.buttonContainer button {
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #3498db; 
  color: #fff; 
  transition: background-color 0.5s ease;
}
.buttonContainer button:first-child {
  background-color: red; 
}

.buttonContainer button:first-child:hover {
  background-color: rgb(184, 46, 46); 
}

.buttonContainer button:last-child:hover {
  background-color: #2980b9; 
}
@media only screen and (max-width: 600px) {
  /* Apply styles for smaller screens */
  textarea {
    font-size: 14px;
    padding: 3px;
  }
}
.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
