.users {

  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    button {
      padding: 5px;
      cursor: pointer;
    }
  }
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: -2px;
  padding-top: 10px;
  background-color: white;
}